# linear Regreesion

In [ ]:

#Y(Depndent) = mx(Indendent)+c # Tell you the relationship b/w two variables(independent and dependent)
# Find the best fit line only throgh out the data points.

In [ ]:
# continous1, 23,,4,,5,6,6
# Categorical 'Delhi', 'Mumbai', 'India'# Logistic Regression

In [ ]:
# Linear Used to predict the continuous dependent variable using a given set of independent variables.
# Logistic Used to predict the catogorical dependent variables using a given set of independent variables.(Binary classification)(0, 1)
# CLassification (Logistic)

In [2]:
import numpy as np # Alias
import pandas as pd # preprocessing

#Import Libraries for Visualization
import matplotlib.pyplot as plt
import seaborn as sns 

#Import libraries for train test split
from sklearn.model_selection import train_test_split#(Scikit learn )

#Import library for scaling
from sklearn.preprocessing import StandardScaler

#Import library for model building
from sklearn.linear_model import LinearRegression

# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
salary = pd.read_csv('C://Users//uttam.grade//Downloads//train_.csv')

In [8]:
salary.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [10]:
# Data Types
# int, float, string, List, tuple, dictionary,set.

In [9]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [11]:
salary_cpy = salary.copy()

In [ ]:
salary_cpy.columns

In [12]:
salary_cpy.columns.str.strip()

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object')

In [13]:
salary_cpy.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [40]:
type(salary_cpy.Store.values)

numpy.ndarray

In [42]:
type(salary_cpy["Store"][1])

numpy.int64

In [33]:
#salary_cpy['IsHoliday'] = salary_cpy['IsHoliday'].apply(lambda x : str(x)+'---->')

In [34]:
salary_cpy['IsHoliday'].apply(lambda x: x.lower())

0         false---->
1          true---->
2         false---->
3         false---->
4         false---->
             ...
421565    false---->
421566    false---->
421567    false---->
421568    false---->
421569    false---->
Name: IsHoliday, Length: 421570, dtype: object

In [27]:
salary_cpy.head()

   Store  Dept        Date  Weekly_Sales   IsHoliday
0      1     1  2010-02-05      24924.50  False---->
1      1     1  2010-02-12      46039.49   True---->
2      1     1  2010-02-19      41595.55  False---->
3      1     1  2010-02-26      19403.54  False---->
4      1     1  2010-03-05      21827.90  False---->

In [30]:
salary_cpy[salary_cpy['Weekly_Sales']<20000.0]

        Store  Dept        Date  Weekly_Sales   IsHoliday
3           1     1  2010-02-26      19403.54  False---->
10          1     1  2010-04-16      17596.96  False---->
11          1     1  2010-04-23      16145.35  False---->
12          1     1  2010-04-30      16555.11  False---->
13          1     1  2010-05-07      17413.94  False---->
...       ...   ...         ...           ...         ...
421565     45    98  2012-09-28        508.37  False---->
421566     45    98  2012-10-05        628.10  False---->
421567     45    98  2012-10-12       1061.02  False---->
421568     45    98  2012-10-19        760.01  False---->
421569     45    98  2012-10-26       1076.80  False---->

[315118 rows x 5 columns]

In [32]:
salary_cpy.groupby(['Date'])['Weekly_Sales'].sum()

Date
2010-02-05    49750740.50
2010-02-12    48336677.63
2010-02-19    48276993.78
2010-02-26    43968571.13
2010-03-05    46871470.30
                 ...
2012-09-28    43734899.40
2012-10-05    47566639.31
2012-10-12    46128514.25
2012-10-19    45122410.57
2012-10-26    45544116.29
Name: Weekly_Sales, Length: 143, dtype: float64

In [ ]:
# Correlation
# Relationship between the columns

In [ ]:
# Preprocessing Tecniques
# Groupby